{% extends 'base.html' %}

{% block body %}


<div class="conatiner">
    <div class="row">
      {% for obj in obj %}
        <div class="col-md-4>">

<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="{{obj.img.url}}" alt="Card image cap" style="width:250px;height:250px;">
  <div class="card-body">
    <h5 class="card-title">{{obj.name}}</h5>
    <p class="card-text">{{obj.desc}}</p>
    <a href="{% url 'myapp:detail' obj.id %}" class="btn btn-primary">Go somewhere</a>
  </div>
</div>

</div>
{% endfor %}
    </div>
</div>
{% endblock %}